.main{ 
    padding:2% 0% 6%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.mainData{ 
    padding:0% 9%;
    background:linear-gradient(to right,#ff8f70,#ff3d54) ;
}
.mainData select{
    font-size: 1.25vw; 
    border: none;
    color: #fff;
    background-color: #121212;
       width: 12%;
    height: 2.5vw;
    border-radius: 0.5vw; 
    text-align: center;
    box-shadow: 0.35vw 1.25vw 1.5vw .12vw #121212;
}
.mainData option{
    padding:1.5% 2%;
}
 
@media (max-width:464px){
    .mainData{ 
    padding:9%;
     
}
    .mainData select{
   font-size: 3.25vw;
    width: 35%;
    height: 8.5vw;
    border-radius: 2.65vw;
    text-align: center;
   box-shadow: 1.25vw 2vw 3.5vw 0.05vw #121212;
}


}