 .main{
    background-color: #fff;
 }
.hero{
display: flex; 
flex-direction: column;
align-items: center;
width: 100%; 
text-align: center;
gap: 1vw;
height: 25vw;
padding: 0% 0% 5%;
border-bottom-left-radius: 5vw;
background: linear-gradient(to right,#ff8f70,#ff3d54);
}
.hero *{ 
    z-index: 10;
}
.hero h1{ 
    font-size: 4vw;
    font-weight: 400;
}
.hero h3{
    font-size: 1.5vw;
    font-weight: 300;
}
.links{
    display: inline-flex;
    padding: 2% 0%;
    justify-content: center;
    align-items: center;
    gap: 1vw; 
}
.links *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
    font-weight: 600;
width: 10vw;
height: 3.75vw;
}
.links :last-child{
background-color: #fff;
color:#ff3d54;
border-radius: 2.5vw;
}
.links :last-child:hover{
    background-color: #ff8f70;
    color: #fff;
}
.pattern{ 
   position: relative;
  width: 100%;
  scale: 1.85;
  z-index: 1;
  left: 20vw;
  top: -65vw;
}
.patternm{
display: none;
}
.future{
    display:flex;
    flex-direction: column; 
    padding: 7% 0% 2% 7%; 
    align-items: center;
    position: relative;
    z-index: 2;
    color: #1f3f5b;
    background-color: #fff;
}
.mainFuture{
    display: inline-flex;
 justify-content: space-between;
}
.future h1{
    font-size: 3.75vw;
    font-weight: 500;
}
.mainData{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 45%;
    color: #1f3f5b;
    padding: 5% 0% 0%;
}
.mainData h3{
    font-size: 1.5vw;
    font-weight: 500;
}
.mainData p{
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 2vw;
}
.graph{
    width: 50%;
    transform: translate3d(27%,-8%,0);
}
.graphm{
    display: none;
}
.mobile{
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to right,#2c2d3f,#3f4164);
    width: 100%; 
    gap: 10vw;
    border-bottom-left-radius: 6.5vw;
    border-top-right-radius: 6.5vw;
    padding:0% 7% 0%;
}
.mobiles{
    width: 50%; 
     transform: translateY(-10%); 
    z-index: 5; 
}
.mobile div{
    display: flex;
    flex-direction: column; 
    gap:2vw; 
}
.circle{
  position: absolute; 
  transform: translateX(-33%) translateY(-20%); 
  width:65%; 
  z-index: 1; 
}
.mobile div h3{
    font-size: 2.5vw;
    font-weight: 400;
}
.mobile div p{
    font-size: 1.2vw;
    font-weight: 400;
}
.laptops{
   display:inline-flex; 
    padding: 7% 7% 7% 0%; 
    align-items: center;
    position: relative;
    z-index: 4;
    color: #1f3f5b;
    background-color: #fff;
}
.laptop{
    width: 50%; 
       transform: translate3d(-28.5%,5%,0);
}
.laptopm{
    display: none;
}
.mainData2{
    display: flex;
    flex-direction: column;
    gap: 2vw; 
    
    color: #1f3f5b;
    padding: 10% 0% 0%; 
}
.mainData2 h3{
    font-size: 1.5vw;
    font-weight: 500;
}
.mainData2 p{
    font-size: 1.2vw;
    font-weight: 400; 
    margin-bottom: 2vw;
}


@media (width<=464px){
   
.pattern{
    display: none;
}
    .patternm{
        display: block;
        width: 100%;
  scale: 4;
  z-index: 1;
  left: 40vw;
  top: -65vw;
  position: relative; 
    }
    .hero{
        padding:10vw 8%;
        gap: 5vw;
        height: 100vw;
       border-bottom-left-radius: 25vw;
    } 
    .hero h1{ 
    font-size: 9vw; 
}
.hero h3{
    font-size: 5vw;  
}
.links{
    padding: 10vw 0 0;
    width: 95%;
    gap:5vw;
}
.links *{
    width: 100vw;
    height: 12vw;
    font-size: 4.5vw; 
    font-weight: 500;
}
.links :first-child{
background-color: #fff;
color:#ff3d54; 
border-radius: 10vw;
}
.links :last-child{
background-color: #ff3d54;
border: 0.25vw solid #fff;
color:#fff; 
border-radius: 10vw;
}
.future{
    padding: 10vw 8% 65vw; 
    text-align: center; 
    gap: 5vw;
}
.mainData{
    width: 95%;
    gap: 4vw;
}
.mainFuture{
    flex-direction: column-reverse;
}
.graph{
    display: none;
}
.graphm{
    display: flex;
    width: 100%;
}
.future h1{
    font-size: 7vw;
}
.future h3{
    font-size:7vw;
}
.future p{
    font-size:4.5vw;
    margin-bottom: 5vw;
}
.mobile{ 
    flex-direction: column;  
     border-bottom-left-radius: 30vw;
    border-top-right-radius: 30vw; 
}
.circle{       
       transform: translateX(0%) translateY(-30%);
    width: 100%;
}
.mobiles{ 
    width: 100%;
     transform: translateY(-35vw);  
}

.mobile div{
    gap: 5vw; 
    text-align: center;  
    transform: translateY(-60%);
    z-index: 5;
}
.mobile div h3{
font-size: 7vw;
}
.mobile div p{
font-size: 4vw;
}

.laptops{ 
display:flex;
 flex-direction: column; 
padding:10vw 5%;
gap:5vw;
}
.laptop{
    display: none;
}
.laptopm{
    display: flex;
    width: 100%; 
}
.mainData2{ 
    gap: 5vw;
    width: 100%; 
    text-align: center;
}
.mainData2 h3{
    font-size:7vw ;
}
.mainData2 p{
    font-size: 4.5vw;
}
}